<h2>Search Books</h2>
<form action="/books" method="GET">
   <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
   </div>
   <div>
    <label>Published After Date</label>
    <input type="date" name="publishedAfterDate" value="<%= searchOptions.publishedAfterDate %>">
   </div>
   <div>
    <label>Published Before Date</label>
    <input type="date" name="publishedBeforeDate" value="<%= searchOptions.publishedBeforeDate %>">
   </div>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <% books.forEach(book => { %>
        <h3><%= book.title %> <%=book.publishDate %></h3>
        <img src="<%= book.coverImagePath %>" alt="book cover image" height="150" width="100">
     <% }) %>     
</div>
